body{
    margin: 0;
    padding: 0;
    background: url("../images/api01.jpg")
}

.api_login {
    width: 400px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 8px;
    position: absolute;
    left:50%;
    margin-left: -200px;

    top: -400px;
    -webkit-transform: translateY(800px);
    -webkit-transition: transform .5s;


}

.api_login h2 {
    height: 20px;
    line-height: 0px;
    font-size: 14px;
    font-weight: bold;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    filter: dropshadow(color=#fff, offx=0, offy=1);
    border-bottom: 2px solid rgba(0,0,0,.7);
    padding-left: 20px;

}
.login-inform{
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 25px;
    text-align: center;
}
p+p{
    margin-top: 20px;
}
input[type="text"], input[type="password"]{
    height: 33px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
    color: rgba(0,0,0,0.9);
    border: 1px solid #bec2c4;
    margin-right: 10px;
}

input[type="text"]:focus, input[type="password"]:focus{
    border:1px solid #7dc6dd;
}

button {
    cursor: pointer;
    outline: none;
    color: white;
    background: royalblue;
    width:72px;
    height:30px;
    line-height: 30px;
    border:0px;
    margin-left: 40px;
    border-radius: 5px;
}

input[type="checkbox"]{
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 3px;
}

label span {
    color: #555555;
}
.login_checked{
    margin-left: 100px;
}
